* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    --primary-color: #FF6060;
    --section-bg : #F6F6F6;
}
a {
    color: inherit;
    text-decoration: none;
}

/****HEADER****/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 19px 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
}
.kasa-logo {
    width: 145px;
    height: 47px;
}
.navbar{
    color: var(--primary-color);
    font-size: clamp(12px, 4vw, 24px);
}
.nav-link:nth-of-type(even){
    margin-left: 10px;
}
.nav-active {
    text-decoration: underline;
}
@media (min-width: 420px) {
    .nav-link:nth-of-type(even) {
        margin-left: 57px;
    }
}
@media (min-width: 800px) {
    .kasa-logo {
        width: 210px;
        height: 68px;
    }
}

/****FOOTER****/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 209px;
    background: #000;
    margin-top: 40px;
    color: #fff;
}
.footer-logo {
    margin-top: 62px;
    margin-bottom: 30px;
}
.footer p {
    font-size: clamp(12px, 3vw, 24px);
    font-weight: 500;
}


/****HOMEIMG****/

.img-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    width: 335px;
    height: 111px;
    position: relative;
}

.home-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(80%);
    border-radius: 10px;
    overflow: hidden;
}
.img-home h1 {
    color: #fff;
    position: absolute;
    font-weight: 500;
    font-size: clamp(24px, 6vw, 48px);
    max-width: 70%;
    top: 31px;
    left: 16px;
}
@media(min-width: 420px) {
    .img-home {
        width: 100%;
        max-width: 1240px;
        height: 223px;
    }
    .img-home h1 {
        top: 75px;
        left: auto;
        right: auto;
        max-width: 100%;
    }
}
@media (min-width: 800px) {
    .home-img {
        border-radius: 25px;
    }
}

/**** HOME LOCATION ****/
.location-section {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    margin-top: 22px;
}

.location-section-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    overflow: hidden;
    width: 335px;
}
.location {
    position: relative;
    min-width: 335px;
    height: 255px;
    overflow: hidden;
    border-radius: 10px;
}
.location-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.location-title {
    position: absolute;
    color: #fff;
    left: 20px;
    bottom: 15px;
    max-width: 70%;
    font-size: 18px;
    font-weight: 500;
}
@media (min-width: 420px) {
    .location-section-div {
        width: 100%;
    }
}

@media(min-width: 800px) {
    .location-section-div {
        background-color:var(--section-bg);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        padding: 25px;
        border-radius: 25px;
    }
    .location {
        height: 340px;
        width: 100%;
    }
}
@media (min-width: 1240px) {
    .location-section-div {
        grid-template-columns: repeat(3, 1fr);
        padding: 50px;
        max-width: 1240px;
    }
}

/****404Page****/
.section-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 195px;
}
.title-404 {
    font-size: clamp(96px, 12vw, 288px);
    font-weight: 700;
    color: var(--primary-color);
}
.p-404 {
    margin: 22px 57px 0;
    text-align: center;
    color: var(--primary-color);
    font-weight: 500;
    font-size: clamp(18px, 4vw, 36px);
}
.a-404 {
    margin-top: 133px;
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: 500;
    font-size: clamp(14px, 2vw, 18px);
}
@media (min-width:800px) {
    .a-404 {
        margin-bottom: 159px;
        margin-top: 182px;
    }
}


/***About page ****/